.catalog-other {
  padding-top: 28px;

  @media (min-width: $tablet) {
    padding-bottom: 76px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 86px;
    padding-top: 29px;
  }
}

.catalog-other__title-wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    margin: auto;
    position: absolute;

    left: 0;
    right: 0;
    top: 14px;

    height: 3px;

    background-color: $green;
  }

  @media (min-width: $tablet) {
    &::before {
      top: 22px;
    }
  }
}

.catalog-other__title {
  display: block;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  span {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 23px 0 19px;

    background: $white;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.034em;
  }

  @media (min-width: $tablet) {
    margin-bottom: 80px;

    span {
      margin-left: 28px;
      padding: 0 37px 0 39px;

      font-size: 36px;
      line-height: 36px;
      letter-spacing: 0;
      font-weight: normal;
    }
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: 0 auto 81px;

    span {
      margin: 0;
      padding: 0 37px 0 40px;
    }
  }
}

.catalog-other__wrapper {
  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: 0 auto;
    display: flex;
  }
}

.catalog-other__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop) {
    width: calc(75% - 80px);
    margin: 0 40px;
  }
}

.catalog-other__item {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}
