.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $text-grey;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $green;
  }

  &:active {
    opacity: 0.3;

    .copyright__icon {
      fill: $green;
    }
  }

  @media (min-width: $tablet) {
    margin-top: 8px;
  }
}

.copyright__text {
  letter-spacing: -0.023em;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet) {
    margin-right: 25px;
  }
}

.copyright__img {
  width: 27px;
  height: 34px;
}

.copyright__icon {
  fill: #666666;
}
