.desc {
  @media (min-width: $tablet) {
    padding-bottom: 533px;

    background: transparent url("../img/index-can-mobile@1x.png") no-repeat 50% 100%;
    background-size: 80% 70%;
  }

  @media (min-width: $desktop) {
    padding-bottom: 188px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-color: transparent;
    background-position: 65.5% 29px;
    background-size: 552px 499px;
  }
}

.desc_wrapper {
  position: relative;
  margin-bottom: 135px;
  padding: 27px 20px 166px;

  background: $green url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
  color: $text-white;

  &::after {
    position: absolute;
    content: "";

    width: 280px;
    height: 271px;
    bottom: -133px;

    background: url("../img/index-can-mobile@1x.png") no-repeat 50% 100%;
  }

  @media (min-width: $tablet) {
    margin-bottom: 24px;
    padding-top: 58px;
    padding-left: 118px;
    padding-right: 118px;
    padding-bottom: 20px;

    background: none;
    color: $text-darkgrey;

    &::after {
      width: 0;
      height: 0;
      bottom: 0;

      background: none;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 53px;
    padding: 109px 50% 0 120px;
  }
}

.desc__title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.desc__slogan {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.desc__btn-form {
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin-left: 120px;
    display: inline-block;
    padding: 15px 29px 17px 25px;

    font-size: 20px;
    line-height: 20px;
  }
}
