.features {
  margin-bottom: 42px;
  padding: 0 20px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 44px;
    max-width: $desktop;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $text-darkgrey;

  @media (min-width: $tablet) {
    margin-bottom: 27px;
    padding: 0 30px;

    font-size: 60px;
  }

  @media (min-width: $desktop) {
    margin: 0 40px;
    padding: 0;
    max-width: 1220px;
  }
}

.features__list {
  display: flex;
  margin: 0;
  padding: 0;

  flex-direction: column;

  list-style: none;
  counter-reset: item_number; //Инициируем счетчик

  @media (min-width: $tablet) {
    margin-bottom: 12px;

    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    margin: 27px 0 0;
    max-width: $desktop;
  }
}

.features__item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-weight: normal;

  &::before {
    position: absolute;
    content: "";

    width: 60px;
    height: 60px;
    left: 0;
    top: 0;

    background-color: $green;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 45px 30px 45px;
    width: 50%;
    min-height: 228px;

    box-sizing: border-box;
    z-index: 1;

    &::before {
      width: 80px;
      height: 80px;
      top: 45px;
      left: 30px;
    }

    &::after {
      position: absolute;

      counter-increment: item_number; //Увеличиваем значение счетчика
      content: counter(item_number);

      height: 233px;
      width: auto;
      top: 5px;
      left: 145px;

      z-index: -1;

      //font-size: 281px;
      //line-height: 281px;
      font-family: $primary-font;
      font-size: 281px;
      line-height: 281px;
      color: $bg-grey;
    }
  }

  @media (min-width: $desktop) {
    //margin: 45px 40px 45px;
    padding: 45px 40px 45px;
    margin: 0;
    width: 25%;

    &::before {
      left: 40px;
    }

    &::after {
      left: 154px;
    }
  }
}

.features__text {
  margin: 0;
  padding-top: 2px;
  padding-left: 80px;
  padding-bottom: 4px;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 112px;
    padding-right: 60px;
    padding-bottom: 44px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: $tablet) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 112px 0 0;
  }
}
