.form-contacts__list {
  margin: 0 20px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: 0 auto;
    display: flex;
    //margin: 0 40px;
  }
}

.form-contacts__item {
  display: flex;
  align-items: baseline;

  @media (min-width: $desktop) {
    width: 50%;
    margin: 0 40px;
  }
}
