.logo-header[href] {
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-header__image {
  margin-right: 57px;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet) {
    margin-right: 19px;
    width: 70px;
    height: 60px;
  }

  @media (min-width: $desktop) {
    margin-right: 13px;
    width: 70px;
    height: 60px;
  }
}

.logo-header__text {
  padding-top: 5px;
  width: 101px;
  height: 18px;

  @media (min-width: $tablet) {
    padding-top: 0;
    width: 85px;
    height: 17px;
  }

  @media (min-width: $desktop) {
    width: 118px;
    height: 22px;
  }
}
