.main-nav {
  position: relative;
}

.main-nav__logo {
  position: relative;
  margin: 0 20px;
  padding: 24px 0 22px;

  &::before {
    position: absolute;
    content: "";
    width: 33px;
    height: 38px;
    top: 50%;
    left: 0;

    transform: translateY(-22px);
    background: url("../img/icon-logo-mobile.svg") no-repeat 0 50%;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;

  border: none;

  cursor: pointer;

  &--menu {
    background: $bg-white url("../img/icon-mobile-menu.svg") no-repeat 50% 50%;
  }

  &--close {
    background: $bg-white url("../img/icon-close.svg") no-repeat 50% 50%;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  display: block;
  margin: 0;
  padding: 22px 20px;

  border-bottom: 1px solid $lightgrey;

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  &:first-child {
    border-top: 1px solid $lightgrey;
  }
}

.main-nav__link {
  color: $text-grey;
  text-decoration: none;

  &:hover {
    opacity: 0.75;
  }

  &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }

  &--active {
    border-bottom: 1px solid $green;
  }
}
