.offer {
  border-top: 1px solid $grey;

  @media (min-width: $desktop) {
    width: 25%;
    margin-left: 40px;
    border: none;
  }
}

.offer__wrapper {
  margin-top: 39px;
  margin-bottom: 35px;
  padding-top: 187px;
  padding-bottom: 20px;
  box-sizing: border-box;

  min-height: 289px;

  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 55px 60px, 100% 100%;
  background-position: 50% 65px, 50% 50%;
  background-color: transparent, $green;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@2x.jpg");
  }

  color: $text-white;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
    margin-top: 69px;
    padding: 72px 90px 0 423px;

    min-height: 200px;

    text-align: left;
    background-size: 55px 60px, cover;
    background-position: 91px 65px, 50% 50%;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-right: 40px;

    padding: 187px 30px 45px;

    text-align: center;
    background-size: 55px 60px, cover;
    background-position: 50% 63px, 50% 50%;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.offer__desc {
  margin: 0;
  padding-right: 50px;
  padding-left: 50px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 19px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}
