.page-footer {
  background-color: $bg-white;
}

.page-footer__logo {
  background-color: $bg-grey;
}

.page-footer__social {
  background-color: $bg-grey;
}

.page-footer__copyright {
  background-color: $bg-grey;
}
