.page-header {
  margin: 0;

  @media (min-width: $desktop) {
    margin: 0 auto;
    max-width: $desktop + 140px;

    &--index {
      position: relative;
      background-image: linear-gradient(to right, $white calc(50% + 40px), $green calc(50% + 40px), $green 100%);
      min-height: 696px;
      margin-bottom: 53px;

      z-index: 0;
      overflow: hidden;
    }

    &--index::before {
      content: "";
      position: absolute;
      width: 680px;
      height: 696px;
      top: 0;
      left: calc(50% + 40px);

      z-index: -1;

      background-image: url("../img/index-background-desktop.jpg");
    }
  }
}

.page-header__wrapper {
  @media (min-width: $desktop) {
    margin: 0 auto;
    max-width: $desktop;

    z-index: 1;
  }
}
