.product-other {
  border-top: 1px solid $grey;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    padding: 25px 35px 27px 38px;
    display: flex;

    border-right: 1px solid $grey;
    border-left: 1px solid $grey;

    flex-wrap: wrap;
  }
}

.product-other__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 1px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: -0.023em;

  @media (min-width: $tablet) {
    padding: 0;
    padding-bottom: 26px;
    width: 50%;

    font-size: 20px;
    line-height: 20px;
  }
}

.product-other__desc {
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;

  justify-content: space-between;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 4px;
    width: 50%;

    justify-content: flex-end;

    font-size: 16px;
    line-height: 20px;
  }
}

.product-other__volume {
  margin: 0;

  &--no-mobile {
    //@extend .visually-hidden:not(:focus):not(:active);
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media (min-width: $tablet) {
    //margin-right: 53px;

    &--no-mobile {
      position: relative;
      margin: 0;

      width: auto;
      height: auto;

      clip-path: none;
    }
  }
}

.product-other__price {
  margin: 0;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 95px;
    text-align: right;
  }
}

.product-other__btn {
  padding-top: 10px;
  padding-right: 7px;
  padding-bottom: 10px;
  padding-left: 11px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    padding-right: 15px;
    width: 100%;
  }
}
