.product {
  display: flex;
  padding-right: 19px;
  padding-left: 19px;

  flex-wrap: wrap;

  @media (min-width: $tablet) {
    padding: 0;
    padding-bottom: 40px;

    justify-content: center;

    background-color: $bg-grey;
    color: $text-darkgrey;
  }

  @media (min-width: $desktop) {
    //
  }
}

.product__img-link {
  margin: 0;
  padding: 0;
  line-height: 0;

  @media (min-width: $tablet) {
    margin: -82px 0 37px 5px;
    //width: 195px;
    height: 208px;

    display: flex;
    flex-direction: column;
  }
}

.product__img {
  flex-basis: 50%;

  @media (min-width: $tablet) {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    flex-basis: auto;
  }
}

.product__wrapper {
  display: flex;
  flex-basis: 50%;

  flex-direction: column;

  @media (min-width: $tablet) {
    flex-basis: 100%;
    margin: 0 38px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 22px;
  padding-right: 50px;

  letter-spacing: -0.02em;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0 40px 22px 41px;

    font-size: 20px;
    text-align: center;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-bottom: 19px;
  }
}

.product__title-link {
  color: $text-darkgrey;
}

.product__composition {
  width: 100%;
  margin-left: -1px;

  border-collapse: collapse;

  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    margin: 0 0 33px;

    font-size: 16px;
    line-height: 16px;
  }
}

.product__feature {
  padding: 0;

  @media (min-width: $tablet) {
    padding: 7px 0;
    border-bottom: 1px solid $grey;
  }

  @media (min-width: $desktop) {
    padding: 7.5px 5px 7.5px 0;
  }
}

.product__value {
  position: relative;
  padding: 0;
  right: -2px;

  text-align: right;

  &--price {
    text-transform: uppercase;
  }

  @media (min-width: $tablet) {
    padding: 7px 0;
    border-bottom: 1px solid $grey;
  }

  @media (min-width: $desktop) {
    padding: 7.5px 5px 7.5px 0;
  }
}

.product__btn {
  margin-bottom: 23px;
  padding: 10px;
  padding-right: 8px;
  width: 100%;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin: auto 38px 0;
  }

  @media (min-width: $desktop) {
    //padding-top: 11px;
  }
}
