.programs {
  margin-bottom: 17px;
  padding: 22px 20px 0;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 73px;
    padding: 26px 0 0;
    max-width: $desktop;
  }
}

.programs__list {
  display: flex;
  margin: 0;
  padding: 0;

  flex-direction: column;

  list-style: none;

  @media (min-width: $desktop) {
    max-width: $desktop - 80px;
    margin: 0 40px;

    flex-direction: row;
  }
}

.programs__item {
  position: relative;
  margin-bottom: 19px;
  padding: 31px 20px 0;

  background-color: $bg-grey;

  &:last-child {
    margin: 0;
  }

  &::before {
    position: absolute;
    content: "";

    width: 50px;
    height: 50px;
    left: 22px;
    top: 25px;

    border-radius: 50%;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
  }

  &--loss::after {
    width: 35px;
    height: 49px;
    left: 30px;
    top: 23px;

    background: url("../img/icon-cat-slim.svg") no-repeat 50% 50%;
  }

  &--mass::after {
    width: 67px;
    height: 28px;
    left: 13px;
    top: 36px;

    background: url("../img/icon-cat-pro.svg") no-repeat 50% 50%;
  }

  @media (min-width: $tablet) {
    margin-bottom: 30px;
    padding: 76px 60px 40px 52px;

    &::before {
      width: 200px;
      height: 200px;
      left: auto;
      right: 61px;
      top: 91px;
    }

    &--loss::after {
      width: 140px;
      height: 194px;
      left: auto;
      right: 92px;
      top: 80px;
    }

    &--mass::after {
      width: 268px;
      height: 112px;
      left: auto;
      right: 28px;
      top: 135px;
    }
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding-top: 77px;
    width: 50%;

    &:nth-child(2n-1) {
      margin-right: 80px;
    }

    &::before {
      width: 100px;
      height: 100px;
      left: 52px;
      right: auto;
      top: 48px;
    }

    &--loss::after {
      width: 70px;
      height: 97px;
      left: 66px;
      right: auto;
      top: 42px;
    }

    &--mass::after {
      width: 134px;
      height: 56px;
      left: 34px;
      right: auto;
      top: 70px;
    }
  }
}

.programs__title {
  position: relative;
  margin: 0;
  padding: 0 0 29px 70px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  color: $text-darkgrey;

  @media (min-width: $tablet) {
    padding: 0 230px 25px 0;

    font-size: 36px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px 74px 163px;
  }
}

.programs__text {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-grey;

  border-bottom: $lightgrey 1px solid;

  @media (min-width: $tablet) {
    padding: 0 212px 26px 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0;
  }

  @media (max-width: $tablet - 1px), (min-width: $desktop) {
    br {
      display: none;
    }
  }
}

.programs__btn {
  display: block;
  position: relative;

  margin: 0;
  padding: 19px 0 22px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: $text-darkgrey;

  &::after {
    position: absolute;
    content: "";

    width: 24px;
    height: 11px;
    top: 49%;
    transform: translateX(25px);

    background: url("../img/icon-right-arrow-long.svg") no-repeat 50% 50%;
  }

  &:hover::after,
  &:focus::after {
    width: 33px;
    height: 11px;

    background: url("../img/icon-right-arrow-verylong.svg") no-repeat 50% 50%;
  }

  &:active {
    opacity: 0.5;
  }

  &:active::after {
    width: 33px;
    height: 11px;

    background: url("../img/icon-right-arrow-verylong.svg") no-repeat 50% 50%;
    opacity: 0.5;
  }

  @media (min-width: $tablet) {
    padding-top: 30px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 31px;
  }
}
