.programs {
  background-color: $bg-white;
}

.programs__list {
  list-style: none;
}

.programs__item {
  margin-bottom: 20px;

  background-color: $bg-grey;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $text-darkgrey;
}

.programs__text {
  font-size: 14px;
  line-height: 18px;
  color: $text-grey;
}

.programs__btn {
  width: 100%;
}
