.programs {
  margin-bottom: 17px;
  padding: 22px 20px 0;
}

.programs__list {
  display: flex;
  margin: 0;
  padding: 0;

  flex-direction: column;

  list-style: none;
}

.programs__item {
  position: relative;
  margin-bottom: 19px;
  padding: 31px 20px 0;

  background-color: $bg-grey;

  &:last-child {
    margin: 0;
  }

  &::before {
    position: absolute;
    content: "";

    width: 50px;
    height: 50px;
    left: 22px;
    top: 25px;

    border-radius: 50%;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
  }

  &--loss::after {
    width: 35px;
    height: 49px;
    left: 30px;
    top: 23px;

    background: url("../img/icon-cat-slim.svg") no-repeat 50% 50%;
  }

  &--mass::after {
    width: 67px;
    height: 28px;
    left: 13px;
    top: 36px;

    background: url("../img/icon-cat-pro.svg") no-repeat 50% 50%;
  }
}

.programs__title {
  position: relative;
  margin: 0;
  padding: 0 0 29px 70px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  color: $text-darkgrey;
}

.programs__text {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-grey;

  border-bottom: $lightgrey 1px solid;
}

.programs__btn {
  display: block;
  position: relative;

  margin: 0;
  padding: 19px 0 22px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: $text-darkgrey;

  &::after {
    position: absolute;
    content: "";

    width: 24px;
    height: 11px;
    top: 50%;
    transform: translate(13px, -50%);

    background: url("../img/icon-right-arrow-long.svg") no-repeat 50% 50%;
  }

  &:hover::after {
    width: 33px;
    height: 11px;

    background: url("../img/icon-right-arrow-long.svg") no-repeat 50% 50%;
  }

  &:active {
    opacity: 0.5;
  }

  &:active::after {
    width: 33px;
    height: 11px;


    background: url("../img/icon-right-arrow-long.svg") no-repeat 50% 50%;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .programs__text br {
    display: none;
  }
}

@media (min-width: 768px) {
  .programs {
    margin-bottom: 45px;
    padding: 0 30px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding: 76px 60px 40px 52px;

    &::before {
      width: 200px;
      height: 200px;
      left: auto;
      right: 61px;
      top: 91px;
    }

    &--loss::after {
      width: 140px;
      height: 194px;
      left: auto;
      right: 92px;
      top: 80px;
    }

    &--mass::after {
      width: 268px;
      height: 112px;
      left: auto;
      right: 28px;
      top: 135px;
    }
  }

  .programs__title {
    padding: 0 230px 25px 0;

    font-size: 36px;
  }

  .programs__text {
    padding: 0 212px 25px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .programs__btn {
    padding-top: 30px;

    font-size: 20px;
    line-height: 20px;
  }
}
