.social {
  //
}

.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}

.social__item {
  padding: 23px 17px 20px;
}

.social__link {
  display: block;

  width: 22px;
  height: 19px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--vk {
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--instagram {
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb-mobile.svg");
  }
}
