body {
  margin: 0 auto;
  max-width: 320px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-grey;
  //text-transform: uppercase;

  background-color: $bg-white;
  //background-color: black;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}
