body {
  margin: 0 auto;
  width: 320px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-grey;
  //text-transform: uppercase;

  background-color: $bg-white;

  @media (min-width: $tablet) {
    width: auto;
    max-width: $tablet;
  }

  @media (min-width: $desktop) {
    width: auto;
    max-width: none;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.no-js {
  display: none;
}
