$bg-white: #ffffff;
$bg-grey: #f2f2f2;

$text-darkgrey: #111111;
$text-grey: #444444;
$text-white: #ffffff;

$white: #ffffff;
$lightgrey: #e6e6e6;
$grey: #cdcdcd;
$green: #68b738;
$greendark: #5eaa2f;


